.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .chatroom-header {
    // display: flex;
    align-items: center;
    border-bottom: 1px solid $gray-200;

    h1 {
      margin-bottom: 0;
      padding: 1rem;
    }

    form {
      margin-left: auto;
    }

    .container {
      padding: 1rem;
      margin: 0;
      margin-right: 0;
      justify-content: space-between;
      width: 100%;
    }
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  .chatroom-message {
    display: flex;
    align-items: center;
    padding: 5px 0;

    .chatroom-message-content {
      flex-grow: 1;
      padding-left: 24px;
      padding-right: 0.25rem;
    }

    .chatroom-message-content-time {
      display: flex;
      justify-content: space-between;
    }

    p {
      margin-bottom: 0;
    }
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
