<div class="container">
  <h2>My Messages</h2>
  <div class="chatroom-list">
    <% @chatrooms.each do |chatroom| %>
      <%= render "chatrooms/chatroom_card", chatroom: chatroom %>
    <% end %>
  </div>
</div>
