<section class="banner" style="">
  <div class="banner__inner container">
    <div class="banner__content">
      <h1 class="banner__heading text-white">Get the ticket for the match of your dreams.</h1>
      <p class="banner__leading text-white">Enjoy the game.</p>
      <%= link_to "Find an event", events_path, class: "text-decoration-none text-primary border-0 btn btn-light rounded-pill p-3 m-2" %>
    </div>
  </div>
</section>
