<section class="banner" style="">
  <div class="banner__inner container">
    <div class="premier-league">
      <%= image_tag "spareseat_blue.png" %>
    </div>
    <div class="banner__content">
      <h1 class="banner__heading text-white">Get your ticket for the game of your dreams. </h1>
      <p class="banner__leading text-white">Have a great game.</p>
      <button class="btn btn-light rounded-pill p-3 m-2"><%= link_to "Find an event", events_path, class: "text-decoration-none text-primary border-0"  %></button>
      <button class="btn btn-outline-light rounded-pill p-3 m-2">Learn More</button>
    </div>
  </div>
</section>
