<div class="home-search p-4 bg-primary">
  <div class="search">
    <%= form_with url: events_path, method: :get, class: "d-flex width-350" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Nottingham Forest v Arsenal"
      %>
      <%= button_tag :submit, class: "btn btn-primary btn-lg" do %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>
