<div data-controller="search-events">
  <%= render "shared/navbar2" %>

  <%# Header %>
  <div class="header border-top">
    <div class="container">
      <h3 class="align-middle">Games</h3>
      <ul class="games-filters">
        <li class="games-filters-item">Sport</li>
        <li class="games-filters-item">Price</li>
      </ul>
    </div>
  </div>

  <%# Events list %>
  <%= render "events/list", events: @events %>
</div>
<%= render "shared/footer" %>
