<div data-controller="search-events">

  <%# Navbar. It is rendered here to be a child of the "search-events" data controller. %>
  <%= render "shared/navbar" %>

  <%# Header %>
  <div class="header">
    <div class="container">
      <h3>Matches</h3>
      <select class="form-select games-filter" aria-label="Default select example">
        <option selected>Premier League</option>
        <option value="League One">Championship</option>
        <option value="Championships">League One</option>
      </select>
    </div>
  </div>

  <%# Events list %>
  <%= render "events/list", events: @events %>
</div>
