<div data-controller="search-events">

  <%# Navbar. It is rendered here to be a child of the "search-events" data controller. %>
  <%= render "shared/navbar" %>

  <%# Header %>
  <div class="header border-top">
    <div class="container">
      <h3 class="align-middle">Games</h3>
      <ul class="games-filters">
        <li class="games-filters-item">Sport</li>
        <li class="games-filters-item">Price</li>
      </ul>
    </div>
  </div>

  <%# Events list %>
  <%= render "events/list", events: @events %>
</div>

<%# <%= paginate @events %>
