
<div class="top-section">
  <div class="container">
    <div class="event-information">
      <div>
        <h2><%= @event.name %></h2>
        <p class="venue-name"><%= @event.venue.address %></p>
      </div>
      <p><%= @event.date.strftime("%d %B, %Y | %H:%M") %></p>
    </div>
  </div>
</div>
<div class="event-banner"
     style="background-image: linear-gradient(rgba(0,0,0,0.3),
                              rgba(0,0,0,0.3)),
                              url(<%= @event.venue.images.first.image_url %>);">
</div>
