.events-index-wrapper {
  min-height: 100vh;
}

.header .container {
  width: 90%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  margin-bottom: 0;
}

.games-filter {
  width: auto;
}

.height-40 {
  height: 40px;
}
