.top-section {
  width: 100vw;
  margin-top: 10px;
  // height: 200px;
}

.top-section .container {
  align-items: center;
  margin: 0 auto;
  max-width: 80vw;
  padding: 16px 0;
  justify-content: space-between;
}

.top-section .event-information {
  display: flex;
  justify-content: space-between;
}

.top-section .event-information p {
  margin-bottom: 0;
  opacity: 0.7;
}

.venue-name {
  opacity: 0.7;
}

.event-banner {
  width: 100%;
  height: 30vh;
  color: $white;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tickets-table-section {
  // display: block;
  background: #fff;
  // padding: 10px 17px;
}

.tickets-table-section .container {
  align-items: center;
  margin: 0 auto;
  max-width: 80vw;
  padding: 16px 0;
  justify-content: space-between;
}

.tickets-table {
  margin: 0 auto;
  width: 100%;
  // margin-bottom: 15px;
}

.tickets-table thead {
  // cursor: pointer;
  background: #c9dff0;
  border: solid 1px grey;
}

.tickets-table thead tr th {
  font-weight: bold;
  padding: 20px;
}
.tickets-table thead tr th span {
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.tickets-table thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

.tickets-table tbody tr {
  color: #555;
  border: solid 0.5px grey;
}
.tickets-table tbody tr td {
  text-align: left;
  padding: 20px;
}

.tickets-table tbody tr td .button-align {
  opacity: 0;
  display: flex;
  transition: ease .3s;
  padding: 10px
}

.tickets-table tbody tr td:hover .button-align {
  opacity: 1;
}

.ticket-message {
  display: flex;
  justify-content: right;
  align-items: center;
  // width: 200px;
}

.ticket-message form .mb-3 {
  margin-bottom: 0 !important;
}

// .ticket-message p{
//   visibility: hidden;
//   margin-left: 20px;
//   margin-top: 10px;
//   transition: 0.25s ease-out;
//   font-size: 18px;
// }

// .ticket-message:hover p{
//       visibility: visible;
//     }

.button-align{
  display: flex;
  justify-content: center;
}

#ticket-content{
  display: flex;
  justify-content: space-evenly;
}

.map{
  width: 40%;
  height: 175px;
  padding: 15px;
  margin-left: 25px;
  border-radius: 10px;
}

.icon{
  border: none;
  background: none;
}
