<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Your ticket order is confirmed!</h1>
      <ul class="list-unstyled">
        <li><strong>TICKET</strong> <%= @order.ticket.event[:name]%></li>
        <%= @svg.html_safe %>
        <br>
        <%= link_to "Back to profile", my_profile_path %>
        </li>
      </ul>
    </div>
  </div>
</div>

<%# Need to put @order.state in the h1 tag %>
