.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .card-infos {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card .card-infos-flex {
  display: flex;
  justify-content: space-between;
}

.card-infos .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-infos .card-date {
  font-size: 0.8em;
  font-weight: normal;
}

.card .card-buttons {
  display: flex;
  width: 100%;

  .button-container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .buy-button {
    padding: 8px 16px;
    background-color: navy;
    color: white;
    width: 100%;
    border-radius: 0;
  }

  .sell-button {
    padding: 8px 16px;
    background-color: #242569;
    color: white;
    width: 100%;
    border-radius: 0;
  }
}
