.chatroom-card {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.chatroom-card .chatroom-card-content {
  flex-grow: 1;
  padding: 0 24px;
}

.chatroom-card p {
  margin: 0;
  line-height: 1.4;
}

.chatroom-card .last-message {
  display: flex;
  justify-content: space-between;
}

.chatroom-card small {
  color: #999999;
  // font-weight: bold;
}

.chatroom-card .chatroom-card-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.chatroom-card:hover .chatroom-card-actions {
  opacity: 1;
}

.chatroom-card .chatroom-card-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.chatroom-card .chatroom-card-actions a:hover {
  color: #555555;
}
